:root {
  --background-primary-color: lavender;
  --header-bg-color: rgb(97, 208, 236);
  --font-family: "Lucida Console", "Courier New", monospace;
  --type-heading-h1-font-size: 2.488rem;
  --type-heading-h2-font-size: 2.074rem;
  --background-image: url("/images/ghibli-logo.png");
}

/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: var(--font-family);
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  position: relative;
  color: lavender;
  top: 25%;
  right: 25%;
  left: -25%;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr auto;
  grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
  background-color: var(--background-primary-color);
  color: #444;
}

.box {
  background-color: var(--background-primary-color);
  color: #080707;
  border-radius: 5px;
  padding: 50px;
  font-size: 150%;
}

.header {
  background: var(--header-bg-color);
  height: 150px;
  position: absolute;
  top: 0;
  right: 20%;
  bottom: auto;
  left: 20%;
  justify-content: center;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: auto;
  inset: 15% auto 100px 0;
}
.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer {
  position: fixed;
  width: 100%;
  height: 100px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
