:root {
  --background-primary-color: lavender;
  --header-bg-color: rgb(97, 208, 236);
  --font-family: "Lucida Console", "Courier New", monospace;
  --type-heading-h1-font-size: 2.488rem;
  --type-heading-h2-font-size: 2.074rem;
  --background-image: url("/images/ghibli-logo.png");
}

/* GLOBAL STYLES */

body {
  margin: 40px;
  font: var(--font-family);
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  position: relative;
  color: lavender;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 200px 200px;
  grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
  background-color: var(--background-primary-color);
  color: #444;
}

.box {
  background-color: #c68affc3;
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  font-size: 150%;
}

.header {
  background: var(--header-bg-color);
  width: 75%;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}
